{% extends "blog/header.html" %}
{% load staticfiles %}

{% block content %}
<link href="{% static '/css/about.css' %}" rel="stylesheet" type="text/css">
<div class='picture'>
</div>
<div class='description'>
<!--   <ul>
    <li>Chinese born Canadian</li>
    <li>From Montreal, Quebec</li>
    <li>Student at the University of Toronto</li>
    <li>Majoring in Computer Science</li>
    <li>Focus in computer vision + game design</li>
    <li>Passionate about</li>
  </ul> -->
  <i>Greetings!</i>
  <p>
      I'm Alexander Chum, a Computer Science student at the University of Toronto. Officially, I create educational games on high school subjects.
    </br>But really? I share knowledge and passion through virtual realms.
  </p>
</div>
{% endblock %}