{% extends "blog/header.html" %}
{% load staticfiles %}

{% block content %}
<link href="{% static '/css/about.css' %}" rel="stylesheet" type="text/css">
<div class='picture'>
  <img src="{% static '/images/mypicture.JPG' %}" alt="My photo"/>
</div>
<div class='description'>
  <i>Greetings!</i>
  <p>
    I'm Alexander Chum, a Computer Science student at the University of Toronto. Officially, I create educational games on high school subjects.<br>
    But really? I share knowledge and passion through virtual realms.<br>
    <br>
    Grit, love, and enthusiasm are 3 words that best describe me.<br>
    <b>Grit</b> - Pushing my limits at work, at the gym, and in the kitchen.<br>
    <b>Love</b> - Working with others, for others, is my motto.<br>
    <b>Enthusiasm</b> - Don't let life get the best of you. Smile!<br>
    <br>
    Want more information? <a href="/contact/">Contact me!</a>
  </p>
</div>
{% endblock %}