{% extends "blog/header.html" %}
{% load staticfiles %}

{% block title %}Alexander Chum's Portfolio{% endblock %}

{% block content %}
<link href="{% static '/css/portfolio.css' %}" rel="stylesheet" type="text/css">
<div class="container">
	<div class="boxes" id="ROP">
		<h1>C.I.S.</h1>
		<h2>Research Opportunity Program</h2>
		<p>The main purpose of this research was to analyze the impact of different game features on the educational aspects of a game. The topic of the game was picked from "difficult" High School subjects and the target audience was high school students.</p>
	    <a href="/portfolio/Research-Opportunity-Program/">Read More...</a>
	</div>
	<div class="boxes" id="BlockBreaker" >
		<h1>Block Breaker</h1>
		<h2>Classic Game <br>
			- Personal Project -</h2>

		<p><span id="title">Block Breaker</span> is a <a href="https://en.wikipedia.org/wiki/Breakout_clone" target="_blank">"Breakout clone"</a>, an arcade game from 1976. Multiple clones were released since then, notably Arkanoid in 1986.<br><br>I have decided to make my own as a small project.<br>*Beware* It is challenging and fast-paced!</p>

	  <a href="/games/blockbreaker/" target="_blank">=== Play&Enjoy! ===</a>
	</div>
	<div class="boxes" id="GravityBlop" href="/portfolio/GravityBlop">
		<h1>Gravity Blop</h1>
		<h2>Mobile Game <br>
			- Personal Project -</h2>
		<p>Gravity Blop is an "endless" mobile game that is currently under development. This game centers around gravitational force. To survive, you need make use of an unpredicatable environment.<br><br>
		*The web model is not optimized but playable.*</p>
	    <a href="/games/gravityblop/" target="_blank">=== Play&Enjoy! ===</a>

	</div>
</div>
<div class="footer">
	<hr>
	<p>*All scripts and assets of the projects can be found on my <a  href="https://github.com/Achummy/" target="_blank">GitHub</a> profile*</p>
</div>
{% endblock %}