{% extends "blog/header.html" %}
{% load staticfiles %}

{% block title %}C.I.S. ROP{% endblock %}

{% block content %}
<link href="{% static '/css/rop.css' %}" rel="stylesheet" type="text/css">
<div class='description'>
  <i>Hello!</i>
  <p>
  Thank you for your interest in my research project!<br>I am currently revising my final report to publish legally permissible data only.<br>For now, please visit this <a href='https://www.utoronto.ca/news/these-video-games-trick-elementary-and-high-school-students-learning-stem'>link</a> for an overview of my research.
  </p>
</div>
{% endblock %}