.picture {
  display: block;
  float: left;
  width: 30%;
  min-width: 300px;
  min-height: 1px;
}

.description {
  display: block;
  float: right;
  width: 70%;
  height: 100%;
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 5%;
  line-height: 150%;
}

/*.description li {
  line-height: 160%;
  font-size: 1.7em;
  letter-spacing: 1em;
}
*/
.description p {
  font-size: 1.6em;
  line-height: 160%;
  letter-spacing: 0.03em;
}

.description i {
  font-size: 2.2em;
  color: #0077F7;
}

.description b {
  font-size: 1.4em;
}
.description a {
  font-size: 1.3em;
  color: #008AD5;
}
