.picture {
  display: block;
  float: left;
  width: 35%;
  padding-top: 1.5em;
  padding-left: 4%;
}

img {
  max-width: 100%;
  height: auto;
  border: 1px hidden;
  border-radius: 5px;
  max-height: 590px;
}

.description {
  display: block;
  float: right;
  width: 65%;
  height: 100%;
  padding-top: 1.4em;
  padding-left: 1.4em;
  padding-right: 3%;
  font-size: 1.4vw;
}

.description p {
  font-size: 1.28em;
  line-height: 150%;
  letter-spacing: 0.025em;
}

.description i {
  font-size: 1.76em;
  color: #0077F7;
}

.description b {
  font-size: 1.3em;
}
.description a {
  font-size: 1em;
  color: #008AD5;
}
