/*.social {
  margin: auto;
  width: 30em;
  min-width: 30em;
  min-height: 20em;
  display: block;
}
.social h1 {

}
*/
.post-form {
  display: block;
  margin: auto;
  width: 50%;
  min-width: 600px;
  line-height: 1.7em;
}

.post-form a {
  font-size: 1.7em;
  color: #007EBD;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.post-form a:hover {
  color: rgb(158, 158, 158);
}

.post-form h2 {
  margin: 0;
  text-align: center;
  font-size: 2em;
  line-height: 1.2em;
}
.post-form label {
  font-size: 1.4em;
}

.post-form textarea, .post-form input {
  width: 100%;
  margin: 0;
  border-radius: 3px;
  border: 1px solid;
  padding: 3px;
  padding-left: 10px;
  font-size: 1.2em;
  line-height: 1.4em;
}

.post-form textarea {
  height: 200px;
}

.button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: white;
  color: black;
  border: 2px solid #0084FF; /* Green */
  border-radius: 4px;
  padding: 0.5em 1em;
  font-size: 1.5em;
}

.button:hover {
  background-color: #0084FF; /* Green */
  color: white;
}

