@font-face { font-family: 'Roboto'; src: url('https://fonts.googleapis.com/css?family=Roboto'); }
@font-face { 
  font-family: 'AbeatbyKai'; 
  src: url('abeatbyKaibykairegular.otf') format('otf'), 
  url('abeatbykairegular.woff2') format('woff2'),
  url('abeatbykairegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


* {
  font-family: AbeatbyKai, Roboto, Helvetica, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.bg {
  position: absolute;
  width: 90%;
  min-height: 120px;
  margin-top: 1.3em;
  margin-left: 4vw;
  margin-right: 5vw;
  background-image: url('../images/headercurve.svg');
  background-repeat: no-repeat;
  background-position: 40% 50%;
  z-index: -1;
}

.header, .name, .navbar {
  height: 140px;
}

.name {
  float: left;
  width: 31%;
  padding: 2em 3%;
/*  padding-right: 3em;*/
  text-align: left;
}
.name span {
  font-size: 2.7em;
  float: right;
  line-height: 95%;
}

.navbar {
  float: right;
  width: 69%;
  padding-top: 2em;
  line-height: 250%;
  word-spacing: 1.1vw;
}

.navbar a {
  font-size: 1.5em;
  color: #008AD5;
  color: rgb(0, 138, 213);
  color: hsl(203, 100, 42);
}

.navbar a:hover {
  color: rgb(158, 158, 158);
}

a:active {
  text-decoration: none;
}

@media screen and (max-width: 960px) {
  .name {
    padding-top: 2.6em;
  }
  .name span {
    font-size: 2.4em;
  }
}

@media screen and (max-width: 768px) {
  .bg {
    width: 64%;
    float: right;
    background-image: url('../images/headercurvemobile.svg');
    background-position: 0% 50%;
    margin-top: 0.7em;
    margin-left: 28%;
  }
}