.title {
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 12vh 10vw;
}

.title h1 {
  font-size: 3.6em;
  color: #0084FF;
  color: rgb(0, 132, 255);
  color: hsl(209, 100, 50);
}

.title h2 {
  min-width: 335px;
  font-size: 1.6em;
}